@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
body{
    margin: 0px;
    width: 100%;

}
.sec{
   background:  url('https://www.armytimes.com/resizer/Y3ptRP2Vjb_ET_VvoPgUxGwpBAg=/1200x0/filters:quality(100)/arc-anglerfish-arc2-prod-mco.s3.amazonaws.com/public/IM4QDJAUSFHDRJ22JBGHUDZGXU.jpg') center / cover no-repeat;
    width: 100%;
    height: 100vh;
}
.background_content{
    background-color: rgba(0, 0, 0, 0.616);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.card_title{
    text-align: center;
    position: relative;
    bottom: 30px;
    font-size: 40px;
    color: #fff;
    font-weight: 300;
    font-family: 'Zen Dots', cursive;
    margin: 0px;
}
.card_body{
    text-align: center;
}
.card_body p{
    color: #fff;
    font-size: 25px;
    font-family: 'Zilla Slab Highlight', cursive;
}

.card_body p input{
    width: 300px;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px #fff solid;
    color: #fff;
    font-size: 20px;
}
.btn{
    width: 170px;
    border-radius:  10px;
    outline: none;
    font-size: 15px;
    border:  1px solid ;
    color: rgb(255, 255, 255);
    font-family: 'Architects Daughter', cursive;
    background: rgb(0, 0, 0);
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.671) 1%, rgba(255, 255, 255, 0.199) 100%);
    border: none;
    height: 45px;
    position: relative;
    border:1px solid rgba(22, 54, 160, 0.082) ;
    top: 30px;
}


/* media */


@media screen and (max-width: 555px){
    .background_content{
      flex-wrap: wrap;
    }
}

@media screen and (max-width: 400px){
    .card_title{
        text-align: center;
        position: relative;
        bottom: 30px;
        font-size: 33px;
        color: #fff;
        font-weight: 300;
        font-family: 'Zen Dots', cursive;
        margin: 0px;
    }
    .card_body p input{
        width: 250px;
        background-color: rgba(255, 255, 255, 0);
        outline: none;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px #fff solid;
        color: #fff;
        font-size: 20px;
    }
     .card_body p{
        color: #fff;
        font-size: 23px;
        font-family: 'Zilla Slab Highlight', cursive;
    }
}