@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Zen+Dots&display=swap');
body{
    margin: 0px;
    width: 100%;
}
.header{
    width: 100%;
    height: 100%;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.719);
    padding-top: 20px !important;
    padding-bottom: 30px !important;
    border-bottom: 2px solid rgb(255, 252, 252);
    display: flex;
    justify-content: space-between;
}
.signOutBtn{
    width: 200px;
    font-family: 'Noto Sans KR', sans-serif !important;
    font-size: 15px !important;
    outline: none;
    cursor: pointer;
    background: rgb(0, 0, 0) !important;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: solid rgba(255, 255, 255, 0.267) 1px !important;
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.842) 1%, rgba(255, 255, 255, 0.116) 100%) !important;
}
.content_rights{
    display: flex;
    flex-direction: column;
}
.comments{
    padding-left: 30px;
    padding-top: 20px;
}
.shorted{
    overflow-y: scroll !important;
    overflow-x: hidden !important; 
}

.theme-selector{
    width: 200px !important;
}
.copleted{
    text-decoration: line-through !important;
}
.navbar-brand{
    font-weight: 300;
    font-size: 25px !important;
    font-family: 'Zen Dots', cursive;
    color: #fff;
    text-decoration: none;
}
.content_rights{
    padding-right: 30px;
}
.form-select{
    padding: 3px 10px;
    padding-top: 10px;
    outline: none;
    font-weight: 400;
    margin-top: 5px;
    font-size: 15px;
    border-top: none;
    border-bottom: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0);
    border-left: none;
    border-right: none;
    color: #fff;
}
.on{
     font-weight: 400;
     font-size: 14px;
     padding: 1px;
     color: #000;
     font-family: 'Noto Sans KR', sans-serif !important;
     background-color: rgba(0, 0, 0, 0) !important;
}
.two{
    font-weight: 400;
    color: rgb(0, 0, 0);
    padding: 1px;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif !important;
}
.three{
    font-weight: 400;
    color: rgb(0, 0, 0);
    padding: 1px;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif !important;
}
.big_Card input{
    background-color: rgba(0, 0, 0, 0);
    outline: none !important;
}
.mb_3 p{
    margin: 0px;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
}
.card_bod{
    text-align: center;
}
.mb_3 input{
    background-color: rgba(0, 0, 0, 0);
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #fff;
    width: 200px;
    border-right: none;
    color: #fff;
    font-size: 20px;
    margin-left: 15px;
    outline: none;
}
.mb_3 textarea{
    background-color: rgba(0, 0, 0, 0);
    border-top: none;
    color: #fff;
    border-left: none;
    border-right: none;
    font-size: 20px;
    outline: none;
    width: 200px;
    margin-left: 15px;
    height: 30px;
    margin-top: 50px;
    border-bottom: 1px solid #fff;
}
.back{
    text-align: center;
    position: relative;
    top: 50px;
}
.card_title{
    font-size: 30px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.submitBtn{
    width: 180px;
    height: 30px;
    border: none;
    color: rgba(0, 0, 0, 0.911);
    font-size: 15px;
    box-shadow: 0px 0px 5px #fff;
    cursor: pointer;
    border-radius: 1px;
    outline: none;
    background-color: rgb(255, 255, 255);
    margin-top: 25px;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.containered{
    position: relative;
    top: 100px;
    padding: 10px 20px;
}
.cont_card{
    border: 1px solid rgb(255, 255, 255);
    color: #fff;
    padding: 30px 50px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.822);
    text-align: center;
    margin: 10px;
}
.card-title{
    color: #fff;
    font-size: 25px;
    margin: 0px;
}
.b_1{
    background-color: #fff;
    width: 110px;
    height: 30px;
    cursor: pointer;
    margin-top: 10px;
    border: 2px solid red;
    box-shadow: 0px 0px 5px #fff;
    margin-left: 5px;
    color: red;
}
.b_2{
    background-color: #fff;
    cursor: pointer;
    width: 110px;
    height: 30px;
    border: 2px solid green;
    margin-left: 5px;
    margin-top: 10px;
    box-shadow: 0px 0px 5px #fff;
    color: green;
}
.b_3{
    background-color: #fff;
    cursor: pointer;
    width: 110px;
    height: 30px;
    margin-top: 10px;
    margin-left: 5px;
    box-shadow: 0px 0px 5px #fff;
    color: blue;
    border: 2px solid blue;
}


/* Media */


@media screen and (max-width: 580px){
    .navbar{
        background-color: rgba(0, 0, 0, 0.719);
        padding-top: 20px !important;
        padding-bottom: 30px !important;
        border-bottom: 2px solid rgb(255, 252, 252);
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    .content_rights{
        display: block;
        padding-top: 15px;
        flex-direction:column;
        justify-content: center;
    }
    .signOutBtn{
        width: 150px;
        font-family: 'Noto Sans KR', sans-serif !important;
        font-size: 15px !important;
        outline: none;
        cursor: pointer;
        background: rgb(0, 0, 0) !important;
        color: #fff;
        padding: 2px;
        margin-right: 20px;
        border-radius: 5px;
        border: solid rgba(255, 255, 255, 0.267) 1px !important;
        background: linear-gradient(145deg, rgba(0, 0, 0, 0.842) 1%, rgba(255, 255, 255, 0.116) 100%) !important;
    }
    .form-select{
        padding: 3px 5px;
        padding-top: 13px;
        outline: none;
        font-weight: 400;
        margin-top: 5px;
        font-size: 15px;
        border-top: none;
        border-bottom: 1px solid #fff;
        background-color: rgba(0, 0, 0, 0);
        border-left: none;
        border-right: none;
        color: #fff;
    }
}


@media screen and (max-width: 520px){
    .b_1{
        background-color: #fff;
        width: 80px;
        cursor: pointer;
        margin-top: 10px;
        border: 2px solid red;
        box-shadow: 0px 0px 5px #fff;
        margin-left: 5px;
        color: red;
    }
    .b_2{
        background-color: #fff;
        padding: 5px 30px;
        width: 120px;
        cursor: pointer;
        border: 2px solid green;
        margin-left: 5px;
        margin-top: 10px;
        box-shadow: 0px 0px 5px #fff;
        color: green;
    }
    .b_3{
        background-color: #fff;
        cursor: pointer;
        margin-top: 10px;
        width: 80px;
        margin-left: 5px;
        box-shadow: 0px 0px 5px #fff;
        padding: 5px 30px;
        color: blue;
        border: 2px solid blue;
    }
}
@media screen and (max-width: 469px){
    .card-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 40px;
        margin-top: 10px;
    }
    .b_1{
        background-color: #fff;
        width: 100px;
        cursor: pointer;
        margin-top: 10px;
        border: 2px solid red;
        box-shadow: 0px 0px 5px #fff;
        margin-left: 0px;
        color: red;
    }
    .b_2{
        background-color: #fff;
        padding: 5px 0px;
        width: 100px;
        cursor: pointer;
        border: 2px solid green;
        margin-left: 0px;
        margin-top: 10px;
        box-shadow: 0px 0px 5px #fff;
        color: green;
    }
    .b_3{
        background-color: #fff;
        cursor: pointer;
        margin-top: 10px;
        width: 100px;
        margin-left: 0px;
        box-shadow: 0px 0px 5px #fff;
        padding: 5px 30px;
        color: blue;
        border: 2px solid blue;
    }

    .card-title{
        color: #fff;
        font-size: 20px;
        position: relative;
        right: 15px;
    }
    .mb_3 input{
        background-color: rgba(0, 0, 0, 0);
        border-top: none;
        border-left: none;
        border-bottom: 1px solid #fff;
        width: 150px;
        border-right: none;
        color: #fff;
        font-size: 15px;
        margin-left: 10px;
        outline: none;
    }
    .mb_3 textarea{
        background-color: rgba(0, 0, 0, 0);
        border-top: none;
        color: #fff;
        border-left: none;
        border-right: none;
        font-size: 13px;
        outline: none;
        width: 150px;
        margin-left: 10px;
        height: 30px;
        margin-top: 50px;
        border-bottom: 1px solid #fff;
    }
    .mb_3 p{
        font-size: 20px;
    }
    .card_title{
        font-size: 20px;
        position: relative;
        bottom: 20px;
    }
    .submitBtn{
        width: 150px;
        height: 30px;
        border: none;
        color: rgba(0, 0, 0, 0.911);
        font-size: 15px;
        box-shadow: 0px 0px 5px #fff;
        cursor: pointer;
        border-radius: 1px;
        outline: none;
        background-color: rgb(255, 255, 255);
        margin-top: 25px;
    }
}
@media screen and (max-width: 404px){
    .content_rights{
        text-align: center;
        margin-left: 50px;
    }
    .content_rights button{
        margin-left: 25px;
    }
}
@media screen and (max-width: 330px){
    .time{
        font-size: 13px;
    }
    .card-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
        margin-top: 10px;
    }
}
@media screen and (max-width: 320px){
    .mb_3 p{
        font-size: 15px;
    }
}